<h1 class='ui heading dividing'> Image Resizer </h1>
<p> This is a demo of the image resizer API </p>
<%= form_tag('resize', method: :post, remote: true, multipart: true, id: "myForm") do -%>
 <div class='ui fluid form segment'>
   <div class='field'>
     <label> Image </label>
     <%= file_field_tag 'image', class: 'ui green button' %>
   </div>
   <div class='field'>
     <label> ColumnsXRows (PX) </label>
     <div class='ui input'> <input type='text' name='size' /> </div>
   </div>
   <input class='ui blue submit button' type='submit' />
 </div>
<% end -%>
